@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f8fafc;
  --text-main: #0f172a;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-main);
}
